[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".config/alacritty/alacritty/themes"]
	path = .config/alacritty/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".config/.config/alacritty/themes"]
	path = .config/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
